body {
    display: flex;
    flex-direction: column;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    margin: 0;
}

/* ----------------- START HEADER PART ----------------- */

.header {
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;

    background-color: #1f2937;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.header-left-side {
    color: #F9FAF8;
    font-size: 28px;
    font-weight: 800;
    padding-left: 191px;
}

.header-right-side {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 500;
    padding-right: 191px;
}

/* ----------------- END HEADER PART ----------------- */


/* ----------------- START FIRST SLIDE PART ----------------- */

.first-slide {
    width: 100%;
    height: 650px;
    left: 0px;
    background-color: #1f2937;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side {
    padding-left: 191px;
    width: 465px;
}

.title {
    color: #F9FAF8;
    font-size: 56px;
    font-weight: 800;
}

p.left-side {
    color: #E5E7EB;
    font-size: 18px;
    width: 400px;
    padding: 0;
}

button.left-side {
    background-color: #3882F6;
    color: #F9FAF8;

    font-size: 18px;
    padding: 0;
    width: 208px;
    height: 43px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    border: #F9FAF8;
}

.right-side {
    padding-right: 191px;
}

img.right-side {
    height: 442px;
    width: 663px;
    filter: drop-shadow(6px 10px 17px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    border: 0;
    padding: 0;
}

/* ----------------- END FIRST SLIDE PART ----------------- */


/* ----------------- START SECOND SLIDE PART ----------------- */

.second-slide {
    width: 100%;
    height: 650px;
}

p.second-slide-title {
    color: #1f2937;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.second-slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

img {
    width: 231px;
    height: 231px;
    border: 3px solid #3882F6;
    border-radius: 31px;
    margin-bottom: 20px;
}

.text {
    width: 140px;
    height: auto;
    text-align: center;
}

div.plov > .text{
    width: 130px;
    height: auto;
    text-align: center;
}

.chicken-shawarma, .chicken-kebab, .uyghur-lagman, .plov {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------- END SECOND SLIDE PART ----------------- */


/* ----------------- START THIRD SLIDE PART ----------------- */

.third-slide {
    width: 100%;
    height: 436px;
    background-color: #E5E7EB;
    color: #1f2937;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    width: 900px;
}

p.quote {
    font-style: italic;
    font-size: 36px;
    text-align: center;
    line-height: 44px;
    /* font-weight: 300; */
}

#author {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}

/* ----------------- START THIRD SLIDE PART ----------------- */

.fourth-slide {
    width: 100%;
    height: 400px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-slide-box {
    width: 1000px;
    height: 220px;
    background-color: #3882F6;
    border-radius: 29px;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.box-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

p.box-info {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

button.fourth-slide {
    background-color: #3882F6;

    font-size: 18px;
    padding: 0;
    width: 208px;
    height: 43px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    border: 2px solid #F9FAF8;
}

/* ----------------- END THIRD SLIDE PART ----------------- */


/* ----------------- START FOOTER PART ----------------- */

.footer {
    width: 100%;
    height: 120px;
    bottom: 0px;
    background-color: #1f2937;
    color: #F9FAF8;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------- END FOOTER PART ----------------- */


a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 99px;
}